body, .button-submit, .entry-field {
    font-family: 'Reggae One', cursive;
}

body {
    background-color: gray;
}

.project-container, .no-message-window {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: absolute;
}

.project-container {
    background-color: silver;
    width: 500px;
    left: 390px;
    top: 70px;
    box-shadow: black 1px 10px 10px 10px;
}

h1 {
    font-size: 25px;
}

.button-submit {
    margin-top: 10px;
}

.button-submit:hover {
    background-color: gray;
}

.entry-field {
    width: 300px;
    height: 20px;
}

.entry-field:hover {
    background-color: silver;
}

.message {
    color: cornflowerblue;
    font-size: 20px;
    margin-bottom: 15px;
}

.message-new {
    color: cornflowerblue;
    font-size: 20px;
    gap: 10px;
}

.no-message-window {
    background-color: cornflowerblue;
    font-size: 40px;
    width: 400px;
    height: 150px;
    left: 450px;
    top: 95px;
    opacity: 0.9;
}